player-connection-mode=Listen
player-connection-guid=930540661
player-connection-debug=0
player-connection-project-name=MS2024
player-connection-ip=10.64.58.133
player-connection-ip=192.168.125.1
player-connection-ip=192.168.150.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=4b8230e5962d441d988a425166a6262c
